/* Navbar Setting */
.navbar { padding: 20px 120px; }
.navbar-nav { margin-left: auto;}
.navbar a { font-family: 'Staatliches', cursive; }

a.nav-link { 
    font-size: 1.1em;
    margin-left: 20px;
}
a.navbar-brand { 
    font-size: 1.6rem;
    letter-spacing: 2px;
}

/* Page Header Setting */
.page-header {
    height: 70vh;
    width: 100%;
}
.page-header video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-header:after {
    background-image: url("../image/grainy.jpg"); /* add texture in here */
    content: "";
    height: 171%;
    left: -50%;
    position: absolute;
    opacity: 0.1;
    top: -100%;
    width: 150%;
}

/* carousel caption */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.carousel-caption h5 {
    font-size: 4rem;
    font-family: 'Staatliches', cursive;
}
.rm-fill {
    position: absolute;
    top: 7.2%;
    left: 50.5%;
    transform: translateY(-7.2%);
    transform: translateX(-50.5%);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgb(187, 187, 187);
    z-index: -1;
}
.carousel-caption p {
    font-size: 1.2rem;
}

/* carousel partners */
.wrapper {
    position: relative;
    top: -350px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider {
    width: 1000px;
    height: 100px;
    position: relative;
    background: white;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}
.slide {
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 40s linear infinite;
}
.slide img {
    height: 70px;
    padding: 0 30px 0 30px;
}

@keyframes slideshow {
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
}
.slider::before, .slider::after {
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 100%);
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right:0;
    top:0;
    transform: rotateZ(180deg);
}

/* scrolling menu */

/* mobile version */
@media(max-width: 786px) {
    .navbar { padding: 20px; }
    .slider { 
        width: 100%;
        height: 90px;
        box-shadow: none;
    }
    .slider::before, .slider::after {
        background: linear-gradient(to right, white 0%, rgba(255,255,255,0) 0%);
    }
  
    /* menu */
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

}